
.GridBase {
    display: grid;
    grid-template-columns: 20% 80%;
    grid-template-rows: 37px 265px 265px;
}

.GridSidebar {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 4;
}

.GridToppis {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
}

.GridManeBox {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 4;
}

/* här är koden såm ut gör serts baren */

.topnav {
    overflow: hidden;
}

.topnav a {
    float: left;
    display: block;
    color: #000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav input[type=text] {
    padding: 6px;
    border: none;
    margin-top: 8px;
    margin-right: 16px;
    font-size:  17px;
}

/*                                     */

ul {
    list-style: none;
}

.sidebarbuttonstyle {
    width: 100px;
    height: 30px;
    background-color: silver;
    border-radius: 1pc;
    color: #432354;
}

.maneboxstyle {
    overflow-y: scroll;
}

.ProdktBox {
    width: fit-content;
    border-style: solid;
    border-width: 2px;
    border-color: #000;
    background-color: white;
    border-radius: 10px;
}

.ImgProdktBox {
    width: 200px;
    height: 200px;
    border-radius: 10px;
}