/* här är koden såm ut gör serts baren */

.topnav {
    overflow: hidden;
}

.topnav a {
    float: left;
    display: block;
    color: #000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav input[type=text] {
    padding: 6px;
    border: none;
    margin-top: 8px;
    margin-right: 16px;
    font-size:  17px;
}

/*                                     */

ul {
    list-style: none;
}

.GridStile {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 360px 360px 360px;
}

.Senterbar {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
}

.Intoduktio {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
}

.LogoLokation {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
}

.BackgrundLokation {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 4;
}

.bgimage {
    background-image: url("SnowFox.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
}

.Titext {
    text-align: center;
    size: 30px;
}

.Lokation1 {
    padding-top: 250px;
}

.StyleBotton {
    width: 150px;
    height: 30px;   
    border-radius: 9px;
    background-color: silver;
}

.listaline {
    text-align: center;
}

@media screen and (max-width: 450px) {
   .GridStile {
    grid-template-columns: 136px 136px 136px;
    grid-template-rows: 304px 304px 304px;
    }
   .StyleBotton {
    height: 60px;
   }
}